# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

GameJam.userprefs
Library/ProjectSettings.asset
Assembly-CSharp-vs.csproj
Assembly-CSharp.csproj
GameJam-csharp.sln
GameJam.sln
Library/assetDatabase3
Library/CurrentLayout.dwlt
Library/expandedItems
Library/guidmapper
Library/metadata/1d/1d788770da83571449accf1db4dcb449
Library/metadata/6b/6b867dce071f76a47a0c459b3d824cfc
Library/ScriptAssemblies/Assembly-CSharp.dll
Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
Temp/UnityLockfile
Temp/UnityTempFile-27ee5f7ca1df4544691a4d41c9c24cd8
Temp/UnityTempFile-2b47978ea462f1d4dab4b38722425b05
Temp/UnityTempFile-67f5be62f7a241246ab5fe9a97162f1a
Temp/UnityTempFile-cec5a6b0518a0594a988eb0db4c35a8c